{% include 'core/navbar.html' %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:400,500,600,700');

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: 400;
        background: #c8e8e9;
    }

    #content-container {
        max-width: 85%;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        background: #FFFFFF;
        color: #49535a;
        padding: 10px 30px 20px 50px;
        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    }

    @keyframes fade-in-bck {
            0% {
                opacity: 0;
                transform: translateX(-20px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

    .image-container {
        margin-top: 40px;
        flex: 1;
        max-width: 400px;
    }

    .text-container {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        flex: 1;
        margin-left: 20px;
    }

    img {
        width: 400px;
        height: 400px;
        border-radius: 30px;
    }

    h2 {
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
    }

    h4 {
        font-size: 24px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
    }


    .button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    .mybutton {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .mybutton input {
        color: #fff;
        font-size: 18px;
        outline: none;
        border: none;
        padding: 8px 16px;
        border-radius: 6px;
        background: #3e2093;

    }

    .mybutton input:hover {
        background: #5029bc;
    }

    .button input[type="button"] {
        color: #fff;
        font-size: 18px;
        outline: none;
        border: none;
        padding: 8px 16px;
        border-radius: 6px;
        background: #3e2093;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .button input[type="button"]:hover {
        background: #5029bc;
    }



    .details p {
        margin-top:3px;
        margin-bottom: 15px;
        margin-right: 4px;
        line-height: 1.6; /* Adjust the line height value to control spacing between lines */

    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fade-in {
        animation: fadeIn 0.5s ease-in-out 0.25s both;
    }

    @keyframes fadeInDes {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fade-in-Des {
        animation: fadeIn 1.25s ease-in-out 0.5s both;
    }

</style>
    <title> {{ medicine.name }} | Medicine Library </title>

<div id="content-container">
    <div class="image-container">
        <img src="{{ medicine.image.url }}" alt="medicine">
    </div>
    <div class="text-container">
        <h2 class="fade-in">{{ medicine.name }}</h2>
        <p class="fade-in-Des">{{ medicine.description }}</p>
        <p class="fst-italic fade-in-Des">Side Effects: {{ medicine.side_effects }}</p>
        <div class="details">
            <h4 class="fade-in"> What is {{ medicine.name }}</h4>
            <p class="fade-in-Des">{{ detail.additional_info }}</p>
            <h4 class="fade-in">How should I take {{ medicine.name }}?</h4>
            <p class="fade-in-Des">{{ detail.usage_info }}</p>
            <p class="fst-italic fade-in-Des" style="margin-bottom: 25px;">All material copyright eVisit HealthCare 2020. Terms and conditions of use. The contents herein are for informational purposes only. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition.</p>

            <div class="mybutton" style="position: absolute; bottom: 20px; right: 20px;">
                <input type="button" id="mybutton"  value="Back to Medicine List" onClick="window.location.href='/medicine'" />
            </div>

            </div>
        </div>
    </div>
    </div>
</div>




{% include 'core/footer.html' %}
{% endblock %}
